/* /////////////common shared styles ////////// */
*{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
   
}
.title-primary-color{
   color: #FD6E0A;
}


/* //////nav related style //////////////*/
 nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
 }

 nav >ul {
   display: flex;
   align-items: center;
 }

 ul > li {
    list-style: none;
    margin-right: 50px;
   
 }

 nav  a{
    text-decoration: none;
    color: #474747;
 }
 .btn-primary{ 
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding : 15px 35px;
 }
 .Nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
 }
