/* /////////////common shared styles ////////// */
* {
   font-family: "Lato", sans-serif;
   font-family: "Open Sans", sans-serif;

}

.title-primary-color {
   color: #FD6E0A;
}


/* //////nav related style //////////////*/
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
}

nav>ul {
   display: flex;
   align-items: center;
}

ul>li {
   list-style: none;
   margin-right: 50px;

}

nav a {
   text-decoration: none;
   color: #474747;
}

.Nav-title {
   color: #181818;
   font-size: 45px;
   font-weight: 800;
}

/* button related styles */
.btn-primary {
   background-color: #FD6E0A;
   border-radius: 5px;
   border: 0;
   color: white;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 35px;
}

.contact {
   border-radius: 5px;
   border: 1px solid #FD6E0A;
   background-color: #FFF8F3;
   color: #FD6E0A;
   margin-left: 30px;
}


/* header related styles */
.header {
   background-color: #FFF8F3;
   background-image: url('../images/header_bg.png');
   background-repeat: no-repeat;
   background-position: bottom right;
}

.banner {
   padding: 30px 30px 0px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner-content {
   max-width: 500px;
}

.banner .profile-pic {
   width: 500px;

}

.banner-greeting {
   font-size: 45px;
   color: #474747;
   margin-bottom: 0px;
}

.banner-title {
   font-size: 85px;
   font-weight: 700;
   margin-top: 5px;
   margin-bottom: 20px;
}

.banner-description {
   color: #757575;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 30px;
}

/* header styles ends here */

/* Main section styles */
main{
   max-width: 1140px;
   margin: 0 auto;
}

/* --About section style-- */

.about {
   padding: 131px;
   border-radius: 10px;
   background: #FFF8F3;
   margin: 130px 0px;

}

.section-title {
   color: #181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;

}

.section-description {
   color: #757575;
   text-align: center;
   font-size: 18px;
   
}

.info-title{
   color: #757575;
   margin-bottom: 0px;
   font-weight: 400;
  
}
.info-description{
   color:#474747;
   font-weight: 700;
   margin-top: 5px;
   
}
.about-info-container{
   display: flex;
   justify-content: space-around;
}
.about-info{
   text-align: center;
}